build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/
.devauth/microsoft_accounts.json

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch

.architectury-transformer/
.DS_Store

# Files generated during github actions
node_modules
package-lock.json
package.json
