name: Spotless, Build and Test

on:
  workflow_dispatch:
  pull_request_target:
    types: [opened, synchronize, reopened, ready_for_review]
  merge_group:
    branches: [main, development]

jobs:
  format-and-build:
    if: '! github.event.pull_request.draft'
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          token: ${{ secrets.PRIVATE_TOKEN }}
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: 21

      - name: Cache Gradle data
        uses: actions/cache@v4
        with:
          path: .gradle
          key: ${{ runner.os }}-gradle--${{ hashFiles('**/settings.gradle', '**/gradle.properties') }}

      - name: Cache Gradle shared data
        uses: actions/cache@v4
        with:
          path: ${{ runner.home }}/.gradle/caches
          key: ${{ runner.os }}-gradle-shared--${{ hashFiles('**/settings.gradle', '**/gradle.properties') }}

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Format with spotless
        run: ./gradlew spotlessApply

      - name: Delete empty files
        run: find $(git ls-files -m) -size 0 -delete

      - name: Run remove_unused_i18n.sh
        run: bash utils/remove_unused_i18n.sh

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_user_name: 'WynntilsBot'
          commit_user_email: 'admin@wynntils.com'
          commit_message: 'ci: spotless formatting'

      - name: Build with Gradle
        run: ./gradlew buildDependents -x spotlessCheck -x test

      - name: Test with Gradle
        run: ./gradlew test -x spotlessCheck --stacktrace --info

      - name: Upload test report
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: fabric/build/reports/tests/test/**
