name: Spotless and Build

on:
  workflow_dispatch:
  pull_request_target:
    types: [opened, synchronize, reopened, ready_for_review]
  merge_group:
    branches: [main, development]

jobs:
  format-and-build:
    if: '! github.event.pull_request.draft'
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v3
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          token: ${{ secrets.PRIVATE_TOKEN }}
          ref: ${{ github.head_ref }}

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: 17

      - name: Cache Gradle data
        uses: actions/cache@v3
        with:
          path: .gradle
          key: ${{ runner.os }}-gradle--${{ hashFiles('**/settings.gradle', '**/gradle.properties') }}

      - name: Format with spotless
        uses: gradle/gradle-build-action@v2
        with:
          arguments: spotlessApply

      - name: Delete empty files
        run: find $(git ls-files -m) -size 0 -delete

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_user_name: 'WynntilsBot'
          commit_user_email: 'admin@wynntils.com'
          commit_message: 'ci: spotless formatting'

      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: buildDependents -x spotlessCheck
